* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
               "Noto Sans JP", sans-serif;
  color: #000;
  background: #fff;
  line-height: 1.6;
}

/* ヘッダー */
.header {
  text-align: center;
  background-color: #d8d1ee;
}

.header img {
  height: 100px;
  width: auto;
  object-fit: cover;
}
.cyuui p{
  font-size: 14px;
}

/* メイン画像 */
.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* キャッチコピー */
.copy {
  text-align: center;
  padding: 40px 16px 24px;
}

.copy h2 {
  font-size: 1.5rem; /* タイトルサイズ */
  color: #000;  /* 薄紫背景に映える白文字 */
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative; /* 下線を擬似要素で作るため */
}

/* 下線デザイン */
.copy h2:after {
  content: "";
  display: block;
  width: 70%;           /* 線の長さ */
  height: 4px;          /* 線の太さ */
  background: linear-gradient(90deg, #D8BFF7); /* グラデーションでおしゃれに */
  margin: 8px auto 0;   /* タイトル下にスペース */
  border-radius: 2px;   /* 角を丸くして柔らかく */
  transform: rotate(-2deg); /* 少し傾けて崩し感 */
}


/* 予約案内 */
.reserve-intro {
  padding: 24px 16px;
}

.reserve-intro h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.reserve-intro ul {
  list-style: disc;
  padding-left: 1rem;
  font-size: 1rem;
}



/* フォームエリア */
.form-area {
  display: block;
  padding: 24px 16px 40px;
  text-align: center;
}
.form-area h3{
  margin-bottom: 2rem;
}

.reservation-button {
  display: block;
  width: 50%;
  max-width: 360px;
  margin: 32px auto;
  padding: 16px 0;
  background-color: #8b7cc6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 999px;
}

.reservation-button:active {
  opacity: 0.8;
}

.copyright{
  background-color: #d8d1ee;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 4rem;
  color: #000;

}